* {
	font-family: system-ui, sans-serif;
	margin: 0;
}

form {
	display: flex;
	justify-content: center;
	gap: 2rem;
}

.input {
	display: flex;
	flex-direction: column;
}

h1,
label, p {
	text-align: center;
}

form > * {
	width: 10rem;
}
